.progress-bar-div {
  margin-top: calc(10vh);
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.progress-bar-div-center {
  width: 50%;
}
