.comment-layout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.comment-background {
    background-color: rgb(235, 235, 235);
    min-height: calc(94vh);
    width: calc(90%);
}

.post-description {
    display: flex;
    flex-direction: column;
}

.post-title {
    margin-bottom: calc(0vh);
}

.post-header-text {
    display: flex;
    flex-direction: row;
}

.edit-title {
    margin-left: calc(2vw);
    cursor: pointer;
}

.author-link {
    cursor: pointer;
    margin-left: calc(0.2vw);
    margin-right: calc(0.2vw);
}

.author-link:hover {
    text-decoration: underline;
}

.comment-div {
    margin-top: calc(6vh);
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-info {
    display: flex;
    flex-direction: row;
}

.comment-container {
    width: calc(82%);   
}

.comment-p {
    width: calc(70%);
}

.comment-node {
    position: relative;
}

.comment-delete {
    position: absolute;
    right: calc(10vw);
    top: calc(35%);
    cursor: pointer;
}

.comment-edit {
    position: absolute;
    left: calc(20vw);
    top: calc(0%);
    cursor: pointer;
}

.delete-post {
    cursor: pointer;
    position: absolute;
    right: 0;
}