.card-tabs-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listgroup-loading {
    position: absolute;
    left: calc(17.5vw);
    top: calc(10vh);
    transform: scale(1.2);
}

.no-diagnosis {
    overflow: hidden;
    margin-left: calc(7vw);
    margin-top: calc(10vh);
    margin-bottom: calc(1vh);
    height: calc(8vh);
}

.listgroup-div {
    width: calc(45vw);
}

.listgroup-item-div {
    max-height: calc(55vh);
    overflow: scroll;
    overflow-x: hidden;
}

.single-tile-div-name {
    font-size: calc(1vw);
    font-weight: 500;
}