.post-layout {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.post-container {
    margin-top: calc(0vh);
    width: 85%;
    background-color: rgb(235, 235, 235);
    height: calc(90vh);
}