.select-section {
    margin-top: calc(10vh);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
}

.spinner-div {
    margin-left: calc(25vw);
}

.select-div-input {
    width: 50%;
}

.css-yk16xz-control {
    border: none !important;
    border-bottom: 1px solid rgb(168, 167, 167) !important;
    border-radius: 0px !important;
}

.body-section {
    margin-top: calc(2vh);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-div {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* #root > div:nth-child(3) > section.select-section > div > div > div > div.css-g1d714-ValueContainer > div > div {
    background-color: transparent;
    border: 1px solid black;
}

#root > div:nth-child(3) > section.select-section > div > div > div > div.css-g1d714-ValueContainer > div.css-b8ldur-Input {
    border: none !important;
} */

#root > div:nth-child(3) > section.select-section > div > div > div > div.css-g1d714-ValueContainer > div > div > div:first-child {
    color: #789E9E;
}

#root > div:nth-child(3) > section.select-section > div > div > div > div.css-g1d714-ValueContainer > div > div {
    background-color: transparent;
}

/* The SelectedTab will share the same css file as the SymptomList page */
.tab-div {
    display: flex;
    flex-direction: row;
    background-color: #789E9E;
    color: white;
    margin-right: calc(1vw);
    margin-bottom: calc(1vh);
    border-radius: calc(10px);
    padding: 5px calc(0.5vw) 0px calc(1vw);
}

.tab-div-name {
    font-size: calc(0.8vw);
}

.remove-tab-div {
    text-align: right;
    margin-left: calc(1vw);
    width: calc(1vw);
    transition: ease-in 0.2s;
    cursor: pointer;
}

.remove-tab-div:hover {
    color: red;
    transition: ease-out 0.2s;
    cursor: pointer;
}

.remove-tab {
    padding-top: calc(0vh);
    font-size: calc(0.7vw);
}
